doctype html
html(lang="en")
    head
        include partials/header

    body.login 
        .contenedor-formulario 
            h1 Crea tu cuenta UpTask 
            if(errores)
                each error in errores 
                    span.error.alerta=error.message
            form#formulario.caja.caja-login(action="/crear-cuenta" method="POST")
                .campo 
                    label(for="email") E-mail: 
                    input(type="text" name="email", placeholder="Introduce tu Email" value= email)    
                
                .campo 
                    label(for="email") Password: 
                    input(type="password" name="password", placeholder="Introduce tu Password" value= password )    
                
                .campo.enviar 
                    input(type="submit" value="Enviar" class="boton")    
                
                .campo 
                    a(href="/iniciar-sesion") Volver a iniciar Sesion 
        script(src="/dist/bundle.js") 