doctype html
html(lang="en")
    include partials/header
 
    body.login 
        .contenedor-formulario 
            h1 Reestablecer tu Contraseña 
            p Introduzca su e-mail para restablecer tu contraseña
            if(errores) 
                each error in errores 
                    span.error.alerta=error.message

            form#formulario.caja.caja-login(action="/reestablecer" method="POST")
                .campo 
                    label(for="email") E-mail: 
                    input(type="text" name="email", placeholder="Introduce tu Email" value= email)    
                
                .campo.enviar 
                    input(type="submit" value="Reestablecer Contraseña" class="boton")    
                
                .campo.acciones 
                    a(href="/iniciar-sesion") Ya lo recorder, Volver al login? 