doctype html
html(lang="en")
    include partials/header
 
    body.login 
        .contenedor-formulario 
            h1 Reestablecer tu Contrase単a 
            p Introduzca su nueva contrase単a

            form#formulario.caja.caja-login( method="POST")
                .campo 
                    label(for="password") Contrase単a: 
                    input(type="password" name="password", placeholder="Introduce tu password" value= password)    
                
                .campo.enviar 
                    input(type="submit" value="Reestablecer Contrase単a" class="boton")    
                
                .campo.acciones 
                    a(href="/iniciar-sesion") Ya lo recorder, Volver al login? 